/* Global */

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
}
label {
  font-size: 22px;
}

.title {
  margin-bottom: 3rem;
}
.contenedorCapuchino {
  margin-right: 30px;
  margin-bottom: 30px;
}

/* Icons */
.icon {
  font-size: 32px;
}

/* Imagen */
.imagenHeader {
  background-image: url(../asset/img/4477349.jpg);
  background-position: left bottom;
  height: 100vh;
  z-index: 2;
}
.contenedorInputs {
  height: 55vh;
  background-color: white;
  position: absolute;
  z-index: 3;
  opacity: 80%;
  position: relative;
  width: 75%;
  margin: 0 auto;
}
.box {
  position: relative;
  top: 20px;
}

.inputCapuchino {
  margin-left: 15px;
}
